@font-face {
    font-family: 'pt_serifbold';
    src: url('ptserif-bold-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifbold_italic';
    src: url('ptserif-bolditalic-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifitalic';
    src: url('ptserif-italic-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pt_serifregular';
    src: url('ptserif-regular-webfont.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;

}