.main-content__title {
  font-family:"Roboto";
}
.main-content__subtitle {
  font-family: cursive;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px dashed red;
}
.header {
  padding: 40px 0;
  display:flex;
  justify-content:space-between;
}
.logo {
  //padding: 40px 0;
  //font: bold 24px/31px pt_serif,arial,helvetica,sans-serif;
  width:189px;
  height: 35px;
  background: url('img/site.svg');
}
.menu {
  display:flex;
  align-items: center;
}
.menu__item {
  padding: 0 13px;
}
.menu__item:last-child {
  padding-right: 0;
}
